.blog-contents{
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    grid-column-gap: 1em;
}

.colored-container{
    background-color: #00b5ea;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    position: sticky;
    box-sizing: border-box;
    top: 0;
    height: 100vh;
} 

/* .main-container{
    display: grid;
    grid-auto-rows: minmax(250px, auto);
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
    align-items: end;
} */