<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/animations.css">
    <title>My Blog</title>
</head>
<body>

    <!-- contents -->
    <div class="contents">
        <!-- colored container  -->
        <div class="colored-container"></div>
        <!-- end of container  -->

        <!-- main contents  -->
        <div class="main-contents"></div>
        <!-- end of main-contents  -->
        
    </div>
    <!-- end of contents  -->

    <!-- navbar -->
    <div class="navigation">
        <header class="main-header">
            <a href="#home">
                <img src="/static/img/manologo.png" alt="" class="logo" >
            </a>
        </header>
        <nav class="navbar">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#code-plateau">Code Plateau</a></li>
                <li><a href="{{url_for('blog')}}">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
    <!-- navbar end -->
</body>
</html>